.main-nav {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  border-bottom: 1px solid #e5e5e5;
}

.controls .scores {
  text-align: right;
}

.controls .score, .controls .tries {
  display: inline;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card.covered {
  background-position: -200px -200px !important;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card.solved {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

input.error {
  border: 1px solid red;
}

.game-completed {
  position: absolute;
  background: #ffffff;
  width: 400px;
  height: 250px;
  border: 1px solid #efefef;
  border-radius: 8px;
  top: 25%;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  padding: 8px;
}

.hidden {
  display: none;
}
